@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/ProximaNova-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('./fonts/Gotham-Bold.ttf') format('truetype');
}
:root {
  --background: #1b2026;
  --title-color: white;
  --text-color: #55646d;
  --block-header-background: #55645e;
  --block-text-color: #3e474c;
  --block-background: black;
  --button-color: var(--background);
  --font-size: 19px;
}

body {
  background-color: var(--background);
  line-height: 1.4;
  text-align: center;
  font-size: var(--font-size);
  margin-top: 10vh;
  margin-right: 2rem;
  margin-left: 2rem;
}
h1 {
  color: var(--title-color);
  font-family: 'Gotham-Bold';
  font-size: calc(1.47 * var(--font-size));
  margin-bottom: 0;
}
@media (min-width: 713px) {
  h1 {
    font-size: calc(1.95 * var(--font-size));
  }
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: 'ProximaNova-Regular';
}
p {
  color: var(--text-color);
  font-family: 'ProximaNova-Regular';
}

header p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  align-items: start;
  margin-top: 6vh;
}

.horizontal-separator {
  border-bottom: solid var(--title-color) 2px;
  color: transparent;
}

.block {
  position: relative;
  background-color: var(--block-background);
  border-radius: 5px;
}
.block .block-header {
  background-color: var(--block-header-background);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem;
}
.block .block-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}
.block h5 {
  font-size: calc(0.79 * var(--font-size));
}
.block .block-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem 13%;
}
.block .block-text {
  color: var(--block-text-color);
  height: 4rem;
  max-height: 4rem;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all 0.3s ease-out;
}
.block .block-text p {
  margin-top: 0.5rem;
}
.block h5 {
  margin: 0.2rem;
}

/* Expand block by clicking a checkbox */
.block label {
  cursor: pointer;
  background-color: var(--button-color);
  width: 1.5em;
  border-radius: 100%;
  margin-bottom: 0.7rem;
}
.block input {
  display: none;
  cursor: pointer;
}
.block label:after {
  content: '+';
  color: var(--title-color);
  font-weight: bold;
}
.block input:checked ~ label:after {
  content: '-';
}
.block input:checked ~ div .block-text {
  height: 100%;
  /* transition height workaround using max-height */
  max-height: 400px;
  margin-bottom: 0.3rem;
  transition: max-height 0.7s ease;
}
